# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
Frontend/vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build artifacts
dist/
build/
*.min.html

# Environment variables
.env
.env.*
!.env.example

# Docker
*.tar

# Editor directories
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/
